In [1]:
!pip install googlemaps

Requirement already satisfied: googlemaps in /usr/local/python/3.10.8/lib/python3.10/site-packages (4.10.0)
Requirement already satisfied: requests<3.0,>=2.20.0 in /home/codespace/.local/lib/python3.10/site-packages (from googlemaps) (2.28.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.12.7)

In [1]:
import googlemaps
import pandas as pd
import requests

In [2]:
# define a chave de acesso da API
api_key = 'AIzaSyBKFp_hemLkS16tEY8Yp7Xa7JEOG_Si_3o'

In [3]:
# cria o objeto do cliente para a API do Google Maps
gmaps = googlemaps.Client(api_key)

In [4]:
mount_path = "/workspaces/prediction_house_price_from_airbnb/Data"

In [5]:
df = pd.read_parquet(mount_path + "/bronze/listings.parquet")

In [6]:
dados=df[20000:24999][['id','latitude','longitude']]

In [7]:
dados.tail()

             id  latitude  longitude
24994   2248466 -22.97475  -43.18754
24995  15342880 -22.97500  -43.18762
24996  10700032 -22.98291  -43.19490
24997   3392166 -22.96748  -43.18136
24998  14785804 -22.97536  -43.18828

In [8]:
# df['qtde_supermaket'] = df.apply(lambda row: count_supermarket_lat_long(row['latitude'], row['longitude']), axis=1)

In [9]:
# Importar as bibliotecas necessárias
# import requests
# import pandas as pd

# Função para obter os pontos de interesse dentro de um raio usando a API do Google Places
def obter_pontos_interesse(latitude, longitude, raio, tipos_lugar, api_key):
    url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    params = {
        'location': f'{latitude},{longitude}',
        'radius': raio,
        'types': '|'.join(tipos_lugar),
        'key': api_key
    }
    response = requests.get(url, params=params)
    data = response.json()

    return data['results']


# Raio em metros (convertido para o formato exigido pela API)
raio = 1000

# Tipos de lugar para filtrar os pontos de interesse
tipos_lugar = {
    'Pharmacy': 'pharmacy',
    'Grocery': 'grocery_or_supermarket',
    'Tourist Attraction': 'tourist_attraction',
    'Restaurant': 'restaurant',
    'Subway Station': 'subway_station'
}

# Chave da API do Google Places
# api_key = 'sua_chave_da_api_aqui'

In [10]:
# Iterar sobre as linhas do dataframe
for index, row in dados.iterrows():
    latitude = row['latitude']
    longitude = row['longitude']
    
    # Iterar sobre os tipos de lugar
    for tipo, tipo_lugar in tipos_lugar.items():
        # Obter os pontos de interesse dentro do raio e tipo de lugar usando a API do Google Places
        resultado = obter_pontos_interesse(latitude, longitude, raio, [tipo_lugar], api_key)
        
        # Adicionar coluna para o tipo de lugar, com valor 1 se houver pontos de interesse desse tipo, 0 caso contrário
        dados.loc[index, tipo] = len(resultado) if resultado else 0

# Preencher NaN com 0 nas colunas de tipos de lugar
dados.fillna(0, inplace=True)

# Exibir as primeiras linhas do dataframe resultante
# dados.head()

In [11]:
mount_path = "/workspaces/prediction_house_price_from_airbnb/Data/"

In [12]:
dados.to_parquet(mount_path + 'bronze/'+'pontos_interesses04.parquet')

In [14]:
dados2=df[25000:29999][['id','latitude','longitude']]

In [15]:
dados2.head()

                       id  latitude  longitude
25000  696230334044728624 -22.96743  -43.17912
25001            11253731 -22.96911  -43.18578
25002            18179919 -22.96829  -43.18707
25003             2040235 -22.98334  -43.19353
25004  771881712419109959 -22.97857  -43.19146

In [16]:
# Iterar sobre as linhas do dataframe
for index, row in dados2.iterrows():
    latitude = row['latitude']
    longitude = row['longitude']
    
    # Iterar sobre os tipos de lugar
    for tipo, tipo_lugar in tipos_lugar.items():
        # Obter os pontos de interesse dentro do raio e tipo de lugar usando a API do Google Places
        resultado = obter_pontos_interesse(latitude, longitude, raio, [tipo_lugar], api_key)
        
        # Adicionar coluna para o tipo de lugar, com valor 1 se houver pontos de interesse desse tipo, 0 caso contrário
        dados2.loc[index, tipo] = len(resultado) if resultado else 0

# Preencher NaN com 0 nas colunas de tipos de lugar
dados2.fillna(0, inplace=True)
# Exibir as primeiras linhas do dataframe resultante
dados2.head()

,id,latitude,longitude,Pharmacy,Grocery,Tourist Attraction,Restaurant,Subway Station
25000,696230334044728624,-22.96743,-43.17912,20.0,20.0,14.0,20.0,2.0
25001,11253731,-22.96911,-43.18578,20.0,20.0,19.0,20.0,2.0
25002,18179919,-22.96829,-43.18707,20.0,20.0,17.0,20.0,2.0
25003,2040235,-22.98334,-43.19353,20.0,20.0,20.0,20.0,2.0
25004,771881712419109959,-22.97857,-43.19146,20.0,20.0,11.0,20.0,2.0

In [17]:
dados2.to_parquet(mount_path + 'bronze/'+'pontos_interesses05.parquet')